NET "red"   LOC = P51 | IOSTANDARD = LVTTL;
NET "green" LOC = P41 | IOSTANDARD = LVTTL;
NET "blue"  LOC = P35 | IOSTANDARD = LVTTL;
NET "hsync" LOC = P33 | IOSTANDARD = LVTTL;
NET "vsync" LOC = P30 | IOSTANDARD = LVTTL;