NET "a_button" LOC = P2 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_button" LOC = P6 | IOSTANDARD = LVTTL | PULLDOWN;
NET "u_button" LOC = P8 | IOSTANDARD = LVTTL | PULLDOWN;
NET "d_button" LOC = P10 | IOSTANDARD = LVTTL | PULLDOWN;
NET "l_button" LOC = P12 | IOSTANDARD = LVTTL | PULLDOWN;